/build/
/build-*/
/autom4te.cache/
/cmake-build-*/
/CMakeFiles/
/compile_commands.json
/modules/
/vendor/
/composer.lock
/.deps/
/.libs/
/.pie-native/
/Makefile
/Makefile.fragments
/Makefile.objects
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/configure.ac
/kpqc.la
/libtool
/run-tests.php
/ext/*.dep
/ext/*.lo
.DS_Store
*.swp
